# This is a .gitignore file which aims to keep the git 
# repository tidy by preventing the inclusion of different
# temporary or system files.

# Exclude TeX temporary working files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.dpth
*.auxlock
*.dep
*.brf
*.pdf

# Exclude backup files freated by e.g. Matlab and Emacs
*~

# Exclude system specific thumbnail and other folder metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

setup.cfg
dist/

# Exclude externalisation results from tikz
tikz*.pdf
*.md5
*.spl

*.lock
*.bin
*.iml

.DS_Store
newt/.idea*
newt/__pycache__*

**/.ipynb_checkpoints/*
*.png
*.pickle
*.npy
*.pyc

data/aq_data.csv
data/electricity.csv
data/fission_normalized_counts.csv
data/normalized_alpha_counts.csv
data/air_quality_train_data_0.pickle


notebooks/output/*
experiments/rainforest/output/*
experiments/motorcycle/output/*
experiments/motorcycle/output_vardamp/*
experiments/gprn/output/*
experiments/coal/output/*
experiments/banana/output/*
experiments/binary/output/*
experiments/audio/output/*
experiments/airline/output/*
experiments/aircraft/output/*
experiments/electricity/output/*
experiments/rainforest/output/*
experiments/air_quality/output/*
experiments/nyc_crime/output/*
experiments/product/output/*
experiments/air_quality/data/*
experiments/nyc_crime/data/*

experiments/rainforest/plots_for_will/*

experiments/banana/banana0.slrm
experiments/banana/banana1.slrm
experiments/banana/banana2.slrm
experiments/banana/banana3.slrm
experiments/banana/banana4.slrm
experiments/banana/banana_baseline0.slrm
experiments/banana/banana_baseline1.slrm
experiments/banana/banana_baseline2.slrm
experiments/banana/banana_baseline3.slrm
experiments/banana/banana_baseline4.slrm

experiments/audio/audio0.slrm
experiments/audio/audio1.slrm
experiments/audio/audio2.slrm
experiments/audio/audio3.slrm
experiments/audio/audio4.slrm
experiments/audio/audio5.slrm

experiments/aircraft/aircraft0.slrm
experiments/aircraft/aircraft1.slrm
experiments/aircraft/aircraft2.slrm
experiments/aircraft/aircraft3.slrm
experiments/aircraft/aircraft4.slrm
experiments/aircraft/aircraft5.slrm

experiments/electricity/electricity0.slrm
experiments/electricity/electricity1.slrm
experiments/electricity/electricity2.slrm
experiments/electricity/electricity3.slrm
experiments/electricity/electricity4.slrm
experiments/electricity/electricity5.slrm

experiments/electricity/electricity.csv

experiments/audio/audiovm0.slrm
experiments/audio/audiovm1.slrm
experiments/audio/audiovm2.slrm
experiments/audio/audiovm3.slrm
experiments/audio/audiovm4.slrm
experiments/audio/audiovm5.slrm

experiments/banana/create_txts.py
experiments/banana/banana_varyM.py
experiments/banana/results_varyM.py

experiments/audio/fig1.png
experiments/audio/fig2.png

experiments/rainforest/plots_for_will

newt.egg-info/*
src.egg-info/*
bayesnewton.egg-info/*

.idea/

src/data/audio_training_textures_Heavy_rain_on_hard_surface.wav
