# This is a .gitignore file which aims to keep the git 
# repository tidy by preventing the inclusion of different
# temporary or system files.

# Exclude TeX temporary working files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.dpth
*.auxlock
*.dep
*.brf
*.pdf

# Exclude backup files freated by e.g. Matlab and Emacs
*~

# Exclude system specific thumbnail and other folder metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Exclude externalisation results from tikz
tikz*.pdf
*.md5
*.spl

*.lock
*.bin
*.iml

.DS_Store
newt/.idea*
newt/__pycache__*

**/.ipynb_checkpoints/*
*.png
*.pickle
*.npy
*.pyc

newt/data/aq_data.csv
newt/data/electricity.csv
newt/notebooks/output/*
newt/experiments/rainforest/output/*
newt/experiments/motorcycle/output/*
newt/experiments/coal/output/*
newt/experiments/banana/output/*
newt/experiments/binary/output/*
newt/experiments/audio/output/*
newt/experiments/airline/output/*
newt/experiments/aircraft/output/*
newt/experiments/electricity/output/*

newt/experiments/banana/banana0.slrm
newt/experiments/banana/banana1.slrm
newt/experiments/banana/banana2.slrm
newt/experiments/banana/banana3.slrm
newt/experiments/banana/banana4.slrm
newt/experiments/banana/banana_baseline0.slrm
newt/experiments/banana/banana_baseline1.slrm
newt/experiments/banana/banana_baseline2.slrm
newt/experiments/banana/banana_baseline3.slrm
newt/experiments/banana/banana_baseline4.slrm

newt/experiments/audio/audio0.slrm
newt/experiments/audio/audio1.slrm
newt/experiments/audio/audio2.slrm
newt/experiments/audio/audio3.slrm
newt/experiments/audio/audio4.slrm
newt/experiments/audio/audio5.slrm

newt/experiments/aircraft/aircraft0.slrm
newt/experiments/aircraft/aircraft1.slrm
newt/experiments/aircraft/aircraft2.slrm
newt/experiments/aircraft/aircraft3.slrm
newt/experiments/aircraft/aircraft4.slrm
newt/experiments/aircraft/aircraft5.slrm

newt/experiments/electricity/electricity0.slrm
newt/experiments/electricity/electricity1.slrm
newt/experiments/electricity/electricity2.slrm
newt/experiments/electricity/electricity3.slrm
newt/experiments/electricity/electricity4.slrm
newt/experiments/electricity/electricity5.slrm

newt/experiments/electricity/electricity.csv

newt/experiments/audio/audiovm0.slrm
newt/experiments/audio/audiovm1.slrm
newt/experiments/audio/audiovm2.slrm
newt/experiments/audio/audiovm3.slrm
newt/experiments/audio/audiovm4.slrm
newt/experiments/audio/audiovm5.slrm

newt/experiments/banana/create_txts.py
newt/experiments/banana/banana_varyM.py
newt/experiments/banana/results_varyM.py

newt.egg-info/*

.idea/
